<a href="https://colab.research.google.com/github/just-joseph/Python-basics/blob/master/Python_training_day3_Python_functions%2C_apply%2C_map%2C_lambda%2C_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# No return datatype, no parameter datatype, just the 'def' keyword, function name and parameters.
def my_first_function():
    print('Hello world!')

# Calling a function
my_first_function()

Hello world!

In [2]:
print(type(my_first_function))

<class 'function'>

In [3]:
# Passing parameters to function
def func2(name1, name2):
    print(name1+ ' vs '+ name2)

func2('Batman', 'Superman')

Batman vs Superman

In [4]:
def func3(name1, name2):
    return (name1.strip().lower()+ ' vs '+ name2)
    print(5) # This wont be executed

output= func3('BatmaN   ', 'Superman')
print(output)

batman vs Superman

Keyword arguments

In [5]:
def my_fancy_calculation(first, second, third):
    return first + second - third

In [6]:
# Without specifying parameter variables, it goes by natural order. i.e. first takes 3, second takes 2 and third takes 1
print(my_fancy_calculation(3, 2, 1))

4

In [7]:
# specifying argument by keyword. Avoids confusion
print(my_fancy_calculation(first=3, second=2, third=1))

4

In [8]:
# With keyword arguments you can mix the order
print(my_fancy_calculation(third=1, first=3, second=2))

4

In [9]:
# You can mix arguments and keyword arguments but you have to start with keyword arguments
print(my_fancy_calculation(3, first=1, second=2))

TypeError: ignored

### Default arguments

In [ ]:
def create_person_info(name, age, job=None, salary=300):
    info = {'name': name, 'age': age, 'salary': salary}
    
    # Add 'job' key only if it's provided as parameter
    if job:  
        info.update(dict(job=job))
        
    return info

person1 = create_person_info('John Doe', 82)  # use default values for job and salary
person2 = create_person_info('Lisa Doe', 22, 'hacker', 10000)
print(person1)
print(person2)

Don't use mutable objects as default arguments! Pythonâ€™s default arguments are evaluated once when the function is defined, not each time the function is called. This means that if you use a mutable default argument and mutate it, you will have mutated that object for all future calls to the function as well.

In [ ]:
def append_if_multiple_of_five(number, magical_list=[]):
    if number % 5 == 0:
        magical_list.append(number)
    return magical_list

print(append_if_multiple_of_five(100))
print(append_if_multiple_of_five(105))
print(append_if_multiple_of_five(123))
print(append_if_multiple_of_five(123, []))
# print(append_if_multiple_of_five(125, [103]))
print(append_if_multiple_of_five(123))

In [ ]:
def append_if_multiple_of_five(number, magical_list=None):
    if not magical_list:
        magical_list = []
    if number % 5 == 0:
        magical_list.append(number)
    return magical_list

print(append_if_multiple_of_five(100))
print(append_if_multiple_of_five(105))
print(append_if_multiple_of_five(123))
print(append_if_multiple_of_five(123, []))
# print(append_if_multiple_of_five(125, [103]))
print(append_if_multiple_of_five(123))

### List comprehension

In [10]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = [ ((float(9)/5)*x + 32) for x in Celsius ]
print(Fahrenheit)

[102.56, 97.7, 99.14, 100.03999999999999]

In [11]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

### Functional programming- Lambda, Map, Reduce, Filter https://www.python-course.eu/python3_lambda.php
A style of programming where functions can be passed to other functions to do stuff

In [12]:
# Conventional
def filterfunc(x):
    return x % 3 == 0
mult3 = filter(filterfunc, [1, 2, 3, 4, 5, 6, 7, 8, 9])
print(list(mult3))

# Functional programming- lambda is best when used with another function like map, reduce, filter etc.
# Filter takes 2 parameters- one is a function and the other parameter is the iterable object which is to be filtered using the function
mult3 = filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9])
print(list(mult3))

# List comprehension
mult3 = [x for x in [1, 2, 3, 4, 5, 6, 7, 8, 9] if x % 3 == 0]
print(mult3)

[3, 6, 9]
[3, 6, 9]
[3, 6, 9]

In [13]:
# Try not to initialize lambda functions to variables, unless we plan to reuse the function
sum = lambda x, y : x + y
sum(3,4)

7

In [14]:
# Better way
(lambda x, y : x + y)(3,4)

7

In [15]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

temperatures = (36.5, 37, 37.5, 38, 39)

temperatures_in_Fahrenheit = map(fahrenheit, temperatures)
# print(list(temperatures_in_Fahrenheit))

In [16]:
# Map passes one element at a time to the lambda function which takes one argument at a time 
F = map(lambda x: (float(9)/5)*x + 32, temperatures )
# print(list(F))

In [17]:
# Here, lambda takes 2 arguments at a time. Reduce passes a pair of 2 each to lambda (the first value in the pair is returned by lambda function, second value is next element in list)
from functools import reduce
reduce(lambda x,y: x+y, [47,11,42,13])

113

In [18]:
from functools import reduce
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102

Speed: It is better to use list comprehensions if it requires to write a function (or lambda) to use map or reduce, inorder to carry out the same operation. But if the function is already defined, map has an edge at times. List comprehension can perform better than map where expressions are too long and complex.

Memory usage: List comprehensions tend to be memory intensive, hence if working on a memory-intensive operation, map might be better.

Easier to read: List comprehension wins hands down